nav{

	min-height: 0px;
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 0px !important;
	z-index:9999;
}
nav ul li a, nav ul li{
	display:inline-block;
	margin: 0px; padding: 0px;
}
nav ul li{
	list-style: none;
	position:relative;
	background-position: center right;
	font-size: 13px;
	z-index:9999;
}
nav ul li>a{
	padding:0px 0px;
	text-decoration: none;
	margin:0 25px 0 25px;
}
nav ul li a:hover{
	background: #fff;
	/*color:#fff;*/
}
nav ul li a.drop:after, .menu-item-has-children > a:after{
	content: "\43";
	font-family: 'ElegantIcons';
	/*color: #6fcce3;*/
	font-size: 13px;
	padding: 0px 0px 0px 10px;
	vertical-align: bottom;
}
nav ul li a.drop:hover:after, .menu-item-has-children > a:hover:after{
	/*color:#fff;*/
}
nav ul li.last{
	background: none;
}

/*submenu*/
nav ul li ul{
	display: none;
	position:absolute;
	left:0;
	margin:0;
	padding:0px;
	top:100%;
	text-align: left !important;
}
nav ul li:hover > ul{
	display:block;
}
nav ul li ul li, nav ul li ul li a{
	background-color: #fff;
	float:none;
}
nav ul li ul li{
	_display:inline;
}
nav ul li ul li a{
	width:150px;
	display:block;
	margin:0;
	/*border: 1px solid #e6e6e6;*/
}

/* Sub submenu*/
nav ul li ul li ul{
	display: none;
}
nav ul li ul li:hover ul{
	left:100%;
	top:0;
}


